@import 'tailwindcss';
body{
  background-color: rgb(201, 198, 198);
  height: 100vh;
}

h1{
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 30%;
  text-decoration: underline;
  font-weight: 600;
}