# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
dist-ssr/

# Local files
*.local
.local/

# Environment files
.env
.env.local
.env.*.local

# Logs and pids
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Misc
.sass-cache/
*.tgz

# JetBrains
*.iml

# Temporary

temp/

# Others
.vite/
.envrc

# Mac-specific
.AppleDouble
.LSOverride

# React Native
.expo/

# Storybook
storybook-static/
