@import "tailwindcss";

.light {
    background-color: rgb(136, 133, 133);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 16px;
}

.dark {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px;
}